version: "3.9"

services:
  postgres:
    container_name: postgres-sql-bvs
    image: postgres:latest
    restart: always
    environment:
      - 'POSTGRES_DB=bookversedb'
      - 'POSTGRES_PASSWORD=${DB_PASSWORD}'
      - 'POSTGRES_USER=${DB_USERNAME}'
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - spring-demo

  bvs-api:
    container_name: bvs-api
    image: votrungtin/bvs-api:latest
    restart: always
    ports:
      - "8080:8080"
    environment:
      ACTIVE_PROFILE: prod
      DB_URL: jdbc:postgresql://aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require
      DB_USERNAME: postgres.mwxvoifusflwtmxxiybq
      DB_PASSWORD: votrungtin2005
      SPRING_MAIL_HOST: ${MAIL_HOST}
      SPRING_MAIL_PORT: ${MAIL_PORT}
      SPRING_MAIL_USERNAME: ${MAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${MAIL_PASSWORD}
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH: true
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE: true
    networks:
      - spring-demo
    depends_on:
      - postgres


volumes:
  postgres_data:

networks:
  spring-demo:
    driver: bridge
