name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: ./mvnw -B package --file pom.xml

    - name: Extract project version
      id: get_version
      run: echo "version=$(./mvnw -q \
        -Dexec.executable='echo' \
        -Dexec.args='${project.version}' \
        --non-recursive exec:exec)" >> $GITHUB_OUTPUT

    - name: Show version
      run: echo "Project version is ${{ steps.get_version.outputs.version }}"

    # Optional: Uploads the full dependency graph to GitHub 
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
